body{
 /*background-color: rgba(5, 232, 240, 0.9);   */
 background-color: black;
 height: 100%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titulo{    
    color:whitesmoke ;
    font-size: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
.stilo{
    padding: 1.5rem;
    font-family: 'Fira Code', monospace;
    color: green;
  
  }
  .lista-tipografica li {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #b3ff00;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .lista-tipografica li:hover {
    color: #e31b1b;
  }
  